html {
    height: 100%; 
    
}
body {
    background: linear-gradient(292.24deg, rgba(217, 223, 248, 0.24) -1.41%, rgba(161, 177, 234, 0.714126) 17.71%, #204988 53.42%);
    background-repeat: no-repeat;
    background-size: 100% 1000px;
}