body {
  background-color: linear-gradient(292.24deg, rgba(217, 223, 248, 0.24) -1.41%, rgba(161, 177, 234, 0.714126) 17.71%, #204988 53.42%);
}

.titleLabel {
  position: absolute;
  width: 382px;
  height: 107px;
  left: -16px;
  top: -21px;


  background: #D41574;
  border-radius: 24px;
}

.titleP {
  margin-left: 35px;;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;

  color: #FFFBFB;
}