body {
  background-color: linear-gradient(222.0deg, rgba(217, 223, 248, 0.24) -1.41%, rgba(161, 177, 234, 0.714126) 7.71%, #204988 23.42%);
}

.titleLabel {
  position: absolute;
  width: 252px;
  height: 87px;
  left: -16px;
  top: -21px;


  background: #D41574;
  border-radius: 24px;
}

.titleP {
  margin-left: 35px;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;

  color: #FFFBFB;
}

.loginBox_signin {
  position: absolute;
  width: 420px;
  height: 250px;
  left: 75px;
  top: 74px;
  opacity: 100%;
  background: #2f508d;
  border-radius: 27px;
}
.loginBox_register {
  position: absolute;
  width: 420px;
  height: 550px;
  right: 10px;
  top: 74px;
  opacity: 100%;
  background: #2f508d;
  border-radius: 27px;
}

.activeLoginButton {
  height: 40px;
  border-radius: 10px;
  color: red
}

.loginButtonCustomisation {
  
  color:white;
}
.login_password_group {
  position: relative; 
  left: 90px;
  top: 140px;
}
.login_password_register_group {
  position: relative; 
  right: -75px;
  top: 130px;
  display:block; 
  width: 415px;
}
.sign_in_button_signin {
  position: relative; 
  top: 175px;
  left: 374px;
}
.sign_in_button_register {
  position: relative; 
  top: 155px;
  left: 370px;
}
.brutal {
  position: absolute; 
  right: 10px; 
  width: 500px; 
  height: 800px;
}
.welcomeBoxFrame {
  position: absolute; 
  float: left; 
  top: 15px;
  right:30px;
  width: 250px;
  background-color: #D41574;
  height: 50px;
  border-radius: 15px;
}
.welcomeName {
  position: relative;
  float: left;
  top: 10px;
  color: white;
  padding-left: 15px;
  width: auto;
  font-size: x-large;
}
.welcomeSurname {
  position: relative;
  float: left;
  top: 10px;
  padding-left: 5px;
  color: white;
  width: auto;
  font-size: x-large;
}
.avatar {
  position: absolute;
  right: -30px; 
  float: left;
  text-align: right;

}

.cvRecordFrame {
  position: absolute; 
  width: 150px; 
  height: 60px;
  background-color: rgba(252, 242, 242, 1);
  left: 20px;
  top: 45px;  
  border-radius: 5px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  
}
.cvRecordItemContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 18px;
  top: 5px;
  font: roboto;
  padding: 5px;
  
}
.cvRecordItemContent_title {
  font-weight: bold;
  font-size: 12px;
  padding: 0px;
}
.cvRecordItemContent_company {
  font-size: 9px;
}
.cvRecordItemContent_date {
  padding: 2px;
  font-size: 9px;
}

.cvRecordItemIndicator {
  position: absolute; 
  width: 30px; 
  height: 55px;
  background-color:rgba(69, 183, 81, 0.72);
  border-radius: 7px;
  transform: rotate(-168deg);
  left: -17px;
  top: 0px;
  
}

.cvRecordItemX {
  position: absolute; 
  width: 14px; 
  height: 14px;
  background-color: rgba(212, 21, 116, 1);
  border-radius: 0 0.3em 0 0.3em;
  right: 0;
  top: 0;
  color: white; 
  display: flex;
  justify-content: center;
  vertical-align: center;
  font-size: x-small;
  
}

.cvRecordItemC {
  position: absolute; 
  width: 14px; 
  height: 14px;
  background-color: rgba(212, 21, 116, 1);
  border-radius: 0.3em 0 0.4em 0;
  right: 0;
  bottom: 0;
  color: white; 
  display: flex;
  justify-content: center;
  vertical-align: center;
  font-size: x-small;
  
}

.triangle { 
  display: block;
  height: 20px;
  width: 20px;
  background-color: green;
  border: inherit;
  position: absolute;
  bottom: 90px;
  left: calc(50% - 100px);
  clip-path: polygon(0% 0%, 100% 100%, 30% 100%);
  transform: rotate(-135deg);
  border-radius: 1em 2em 1em 5em;
 }

 .holderFrame {
   position: relative;
   padding-bottom: 70px;
   
 }
 .leftMenuHolder {
   position: absolute;
   height: 500px;
   left: -220px;
   top: 100px;
 }
 .leftMenuFrame {
  position: relative;
  height: 100%;

}
.leftMenu {
  position: absolute;
  height: 100%;
  width: 190px;
  border: 1px solid black;
  left: -530px;
  top: -10px;
}
.titleBox {
  position: absolute;
  height: 35px;
  width: 173px;
  border-radius: 5.5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #007CA5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4.5px;
  
}
.cvRecordsList {
  display: flex;
  flex-direction: column;
}
.closeBar {
  position: absolute;
  left: -340px;
  top: -10px;
  width: 15px;
  height: 100%;
  background-color: rgba(16, 31, 87, 0.66);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}
.closeBar:hover {
  position: absolute;
  left: -320px;
  top: -10px;
  width: 15px;
  height: 100%;
  background-color: rgba(2, 11, 44, 0.66);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}
