body {
  background-color: linear-gradient(222.0deg, rgba(217, 223, 248, 0.24) -1.41%, rgba(161, 177, 234, 0.714126) 7.71%, #204988 23.42%);
}

.titleLabel {
  position: absolute;
  width: 252px;
  height: 87px;
  left: -16px;
  top: -21px;


  background: #D41574;
  border-radius: 24px;
}

.titleP {
  margin-left: 35px;
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 42px;

  color: #FFFBFB;
}

.loginBox_signin {
  position: absolute;
  width: 420px;
  height: 250px;
  left: 800px;
  top: 74px;
  opacity: 100%;
  background: #2f508d;
  border-radius: 27px;
}
.loginBox_register {
  position: absolute;
  width: 420px;
  height: 400px;
  left: 800px;
  top: 74px;
  opacity: 100%;
  background: #2f508d;
  border-radius: 27px;
}

.activeLoginButton {
  height: 40px;
  border-radius: 10px;
  color: red
}

.loginButtonCustomisation {
  
  color:white;
}
.login_password_group {
  position: relative; 
  left: 430px;
  top: 140px;
}
.login_password_register_group {
  position: relative; 
  left: 430px;
  top: 130px;
}
.sign_in_button_signin {
  position: relative; 
  top: 175px;
  left: 735px;
}
.sign_in_button_register {
  position: relative; 
  top: 155px;
  left: 735px;
}
.name_surname_group {
  margin-left: 32px;
}